/* Basic Style */
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.vizual {
  width: 500px;
  text-align: right;
}

.vizual .main_list__img {
  width: 100%;
}

.section {
  margin: 0 auto; 
  display: block;
}

.vizual_link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .vizual { 
    text-align: center;
  }

}

.main {
  width: 500px;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.input-wrapper {
  display: flex;
  margin-bottom: 16px;
}

.main_lists {
  margin: 0;
  padding: 0;
}

.main_list {
  list-style: none;
}

.input-text,
.input-checkbox,
.btn {
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3A3a;
}

/* Heading */
.main_title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
  display: block;
  margin: 0;
}

.main_title:first-child {
  margin: 15px 0 20px 0;
}

.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input-text:focus {
  color: #333;
}

/* New Task */
.input-text.new-task {
  width: 318px;
}

/* Task list */
.main_list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_list > * {
  vertical-align: middle;
}

.main_list > .input-checkbox {
  margin: 0 10px;
}

.main_list > .main_list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.main_list > .input-text {
  width: 226px;
}

.btn.delete .main_list__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn.delete .main_list__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.main_lists.completed-tasks .main_list__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.main_lists .main_list .input-text {
  display: none;
}

.main_lists .main_list.edit-list .input-text {
  display: inline-block;
  width: 224px;
}

.main_lists .main_list.edit-list .main_list__label {
  display: none;
}